<div class="content-wrapper">
    <lib-ng-simple-sidebar></lib-ng-simple-sidebar>
    <div class="content">
        <div style="flex-grow: 1; max-width: 1400px;">
            <router-outlet></router-outlet>
        </div>
        <footer>
            <small>Library by <a href="https://secanis.ch">secanis.ch</a></small
            ><br />
            <small
                >Icons by
                <a href="https://icons8.com">Icons8 (Line Awesome)</a></small
            >
        </footer>
    </div>
</div>
