.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.content footer {
    align-self: flex-end;
    width: 100%;
}
