/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.docs-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.docs-methods article {
    padding: 10px;
    min-width: 350px;
}
