/* You can add global styles to this file, and also import other style files */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.content-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px;
}

.content footer {
    align-self: flex-end;
}

.docs-methods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.docs-methods article {
    padding: 20px;
    min-width: 250px;
    max-width: 100%;
    word-wrap: break-word;
}

/* mobile stuff */
.m-content-wrapper {
    flex-direction: column;
}

.m-content-wrapper .content {
    padding-top: 80px;
    flex: 0 0 100%;
}
