.ass-menu-button {
    position: fixed;
    margin-top: 10px;
    margin-left: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.ass-aside-menu {
    position: fixed;
    z-index: 1000;
    display: block;
    left: -350px;
    top: 0px;
    width: 300px;
    height: 100vh;
    padding: 25px;
    background-color: #eee;
    color: #000;
}

.ass-aside-menu-title {
    text-transform: uppercase;
}

.ass-aside-menu-item {
    display: block;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    height: 40px;
    border-bottom: 1px solid #bbb;
    line-height: 40px;
}

.ass-aside-dock {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;
    height: calc(100vh - 30px);
    padding: 15px;
    padding-left: 20px;
    background-color: #eee;
    color: #000;
}

.ass-aside-dock .ass-aside-dock-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.ass-aside-dock-container-end {
    justify-content: flex-end;
}

.ass-aside-dock .ass-aside-menu-item {
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
}

.ass-aside-dock .ass-aside-menu-item:last-of-type {
    padding-bottom: 30px;
}

.ass-aside-dock-expand-icon {
    cursor: pointer;
}

.ass-aside-menu-item:first-of-type {
    margin-top: 20px;
}

.ass-aside-menu-item:active, .ass-aside-menu-item:visited, .ass-aside-menu-item:link,
.ass-aside-menu-close:active, .ass-aside-menu-close:visited, .ass-aside-menu-close:link {
    color: #000;
    text-decoration: none;
}

.ass-aside-menu-item:hover, .ass-aside-menu-close:hover {
    color: #aaa;
    text-decoration: none;
}

.ass-aside-menu-icon {
    display: inline-block;
    margin-right: 10px;
}

.ass-aside-menu-close {
    position: absolute;
    display: inline-block;
    right: 25px;
    top: 15px;
    cursor: pointer;
}

.ass-aside-overlay {
    position: fixed;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

/* annimations */
.ass-slide-in {
    -webkit-animation: slide-in 0.5s forwards;
    animation: slide-in 0.5s forwards;
}

@-webkit-keyframes slide-in {
    100% { left: 0px; }
}

@keyframes slide-in {
    100% { left: 0px; }
}

.ass-slide-out {
    -webkit-animation: slide-out 0.5s backwards;
    animation: slide-out 0.5s backwards;
}

@-webkit-keyframes slide-out {
    0% { left: 0px; }
    100% { left: -350px; }
}

@keyframes slide-out {
    0% { left: 0px; }
    100% { left: -350px; }
}